<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.gameus.mapper.CalendarMapper">
	
	<insert id="addCalendar" parameterType="com.smhrd.gameus.model.CalendarInfo"
	useGeneratedKeys="true" keyColumn="cal_seq" keyProperty="calId">
		insert into calendar_info values(
		null, #{start}, #{end}, #{title}, null, #{user_id}, #{team_seq}
		)
	</insert>
</mapper>