<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.gameus.mapper.MemberMapper">
	<select id="selectAllTm" resultType="java.util.HashMap">
		select * from team_member tm, user_info ui where tm.applicant = ui.user_id  and team_seq = #{team_seq}
	</select>

	<delete id="deleteTm">
		delete from team_member where applicant = #{applicant}
	</delete>
	
	<update id="confirmTm">
		update team_member set confirm_yn = 'y' where applicant = #{applicant}
	</update>
	
	<update id="setFavor">
		update user_info set user_favor = user_favor+1 where user_id = #{applicant}
	</update>
	
</mapper>