<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.gameus.mapper.PollMapper">
	<insert id="newPoll" parameterType="com.smhrd.gameus.model.VotingListInfo">
		insert into voting_list_info values (null, #{desc}, #{endtime}, 'test', 2, now(), #{options})
	</insert>
</mapper>