<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.gameus.mapper.PollMapper">

<insert id="newPoll" parameterType="com.smhrd.gameus.model.VotingListInfo" useGeneratedKeys="true" keyProperty="post_num">
	insert into voting_list_info values (null, #{desc}, #{endtime}, #{user_id}, #{team_seq}, now(), #{options})
</insert>

<select id="selectAllPoll" resultType="com.smhrd.gameus.model.VotingListInfo">
	select * from voting_list_info order by vl_seq desc
</select>

<select id="selectOnePoll" parameterType="java.util.HashMap" resultType="com.smhrd.gameus.model.VotingListInfo">
	select * from voting_list_info where team_seq=#{team_seq} and vl_seq=#{vl_seq}
</select>

<select id="selectRecentPoll" resultType="com.smhrd.gameus.model.VotingListInfo">
	select * from voting_list_info where vl_seq=(select max(vl_seq) from voting_list_info)
</select>

<select id="pollDetail" resultType="java.util.HashMap">
	select @ROWNUM := @ROWNUM + 1 as id, vt_result as text, count(*) as vote from voting_info, (select @ROWNUM :=0 ) as id Group by vt_result, vl_seq Having vl_seq = #{vl_seq}
</select>

<insert id="voting">
	insert into voting_info values (null, #{user_id}, #{vl_seq}, #{vt_result}, now())
</insert>

<insert id="pollSetting">
	insert into voting_info values
	<foreach collection="optionList" index="index" item="item" separator=",">
		(null,'test',LAST_INSERT_ID(),#{item},now())
	</foreach>
</insert>

<select id="pollResult">
	select
	<foreach collection="optionList" item="type" index="index" open="[" close="]" separator=",">
		count(case when vt_result = #{type[index]} and vl_seq = 42 then 1 end)
	</foreach>
	FROM voting_info
</select>

</mapper>