<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.gameus.mapper.TeamMapper">

<insert id="teamAdd" parameterType="com.smhrd.gameus.model.TeamInfo">
	insert into team_info values(null, #{teamName}, now(), #{teamMax}, 'user_id 055', #{teamContent}, #{teamGame}, #{teamTD}, #{teamPosition}, #{teamGender}, #{teamAge})
</insert>

<insert id="teamCap" parameterType="com.smhrd.gameus.model.TeamMember">
<selectKey resultType="int" keyProperty="team_seq" order="BEFORE">
	select max(team_seq) from team_info
</selectKey>
	insert into team_member values(null, #{team_seq}, 'user_id 055', now(), 'y')
</insert>

<insert id="teamJoin" parameterType="com.smhrd.gameus.model.TeamMember">
	insert into team_member values(null, #{team_seq}, 'user_id 020', now(), 'n')
</insert>

<select id="selectAllTeam" resultType="com.smhrd.gameus.model.TeamInfo">
	select * from team_info
</select>

<select id="selectOneTeam" resultType="com.smhrd.gameus.model.TeamInfo">
	select * from team_info where team_seq = #{team_seq}
</select>

<select id="selectTm" resultType="int">
	select count(tm_seq) from team_member where team_seq = #{team_seq} and confirm_yn = 'y'
</select>

<select id="teamGameSetting" resultType="com.smhrd.gameus.model.CategoryInfo">
	select * from category_info
</select>

</mapper>