<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.gameus.mapper.TeamMapper">
	<select id="selectAllTeam" resultType="com.smhrd.gameus.model.TeamInfo">
		select * from team_info 
	</select>
	
	<select id="selectMyTeam" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from team_info ti, team_member tm where ti.team_seq = tm.team_seq and tm.applicant = #{applicant} and tm.confirm_yn =#{confirm_yn}
	
	</select>

</mapper>