<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.gameus.mapper.UserMapper">

	<insert id="signupAdd">
		insert into user_info (user_id, user_pw, user_nick, user_birthdate,
		user_gender, user_joindate) values(#{email}, #{password}, #{username}, #{age}, #{gender}, #{joindate})
	</insert>

	<select id="loginMember" resultType="String">
		select * from user_info where user_id=#{user_id} and user_pw=#{user_pw}
		
	</select>


</mapper>